<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/assistant/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/customer/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/driver/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/staff/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.authen.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.authen.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.authen.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.guest.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuideServlet</servlet-name>
        <servlet-class>controller.GuideServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRouteServlet</servlet-name>
        <servlet-class>controller.guest.SearchRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteDetailServlet</servlet-name>
        <servlet-class>controller.guest.RouteDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindRoundServlet</servlet-name>
        <servlet-class>controller.guest.FindRoundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteListServlet</servlet-name>
        <servlet-class>controller.guest.RouteListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.customer.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.customer.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.customer.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoriteServlet</servlet-name>
        <servlet-class>controller.customer.FavoriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>controller.customer.TicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.customer.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.customer.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TripHistoryServlet</servlet-name>
        <servlet-class>controller.customer.TripHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyTicketServlet</servlet-name>
        <servlet-class>controller.customer.BuyTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <servlet-class>controller.staff.StaffDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyPassServlet</servlet-name>
        <servlet-class>controller.staff.pass.MonthlyPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveMonthlyPassServlet</servlet-name>
        <servlet-class>controller.staff.pass.ApproveMonthlyPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectMonthlyPassServlet</servlet-name>
        <servlet-class>controller.staff.pass.RejectMonthlyPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationManagementServlet</servlet-name>
        <servlet-class>controller.staff.notification.NotificationManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNotificationServlet</servlet-name>
        <servlet-class>controller.staff.notification.CreateNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNotificationServlet</servlet-name>
        <servlet-class>controller.staff.notification.EditNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNotificationServlet</servlet-name>
        <servlet-class>controller.staff.notification.DeleteNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TripManagementServlet</servlet-name>
        <servlet-class>controller.staff.trip.TripManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTripServlet</servlet-name>
        <servlet-class>controller.staff.trip.CreateTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTripServlet</servlet-name>
        <servlet-class>controller.staff.trip.UpdateTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTripServlet</servlet-name>
        <servlet-class>controller.staff.trip.DeleteTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteManagementServlet</servlet-name>
        <servlet-class>controller.staff.route.RouteManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteViewServlet</servlet-name>
        <servlet-class>controller.staff.route.RouteViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRouteServlet</servlet-name>
        <servlet-class>controller.staff.route.CreateRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRouteServlet</servlet-name>
        <servlet-class>controller.staff.route.UpdateRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRouteServlet</servlet-name>
        <servlet-class>controller.staff.route.DeleteRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusManagementServlet</servlet-name>
        <servlet-class>controller.staff.bus.BusManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBusServlet</servlet-name>
        <servlet-class>controller.staff.bus.CreateBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBusServlet</servlet-name>
        <servlet-class>controller.staff.bus.UpdateBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBusServlet</servlet-name>
        <servlet-class>controller.staff.bus.DeleteBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopManagementServlet</servlet-name>
        <servlet-class>controller.staff.stop.StopManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStopServlet</servlet-name>
        <servlet-class>controller.staff.stop.CreateStopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStopServlet</servlet-name>
        <servlet-class>controller.staff.stop.UpdateStopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStopServlet</servlet-name>
        <servlet-class>controller.staff.stop.DeleteStopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteStopManagementServlet</servlet-name>
        <servlet-class>controller.staff.stop.RouteStopManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentQRJSP</servlet-name>
        <jsp-file>/view/customer/payment-qr.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AssistantDashboardServlet</servlet-name>
        <servlet-class>controller.assistant.AssistantDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTripServlet</servlet-name>
        <servlet-class>controller.assistant.trip.MyTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TripDetailServlet</servlet-name>
        <servlet-class>controller.assistant.trip.TripDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerCheckServlet</servlet-name>
        <servlet-class>controller.assistant.trip.PassengerCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssistantNotificationServlet</servlet-name>
        <servlet-class>controller.assistant.notification.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssistantProfileServlet</servlet-name>
        <servlet-class>controller.assistant.profile.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssistantChangePasswordServlet</servlet-name>
        <servlet-class>controller.assistant.profile.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverDashboardServlet</servlet-name>
        <servlet-class>controller.driver.DriverDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverMyTripServlet</servlet-name>
        <servlet-class>controller.driver.MyTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverTripDetailServlet</servlet-name>
        <servlet-class>controller.driver.TripDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverStartTripServlet</servlet-name>
        <servlet-class>controller.driver.StartTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverFinishTripServlet</servlet-name>
        <servlet-class>controller.driver.FinishTripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverNotificationServlet</servlet-name>
        <servlet-class>controller.driver.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverProfileServlet</servlet-name>
        <servlet-class>controller.driver.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverChangePasswordServlet</servlet-name>
        <servlet-class>controller.driver.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>controller.admin.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>controller.admin.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.admin.ResetPasswordServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AddStopToRouteServlet</servlet-name>
        <servlet-class>controller.staff.stop.AddStopToRouteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuideServlet</servlet-name>
        <url-pattern>/guide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRouteServlet</servlet-name>
        <url-pattern>/search-route</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteDetailServlet</servlet-name>
        <url-pattern>/route-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindRoundServlet</servlet-name>
        <url-pattern>/find-route</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteListServlet</servlet-name>
        <url-pattern>/route-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/customer/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/customer/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/customer/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoriteServlet</servlet-name>
        <url-pattern>/customer/favorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketServlet</servlet-name>
        <url-pattern>/customer/ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/customer/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/customer/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TripHistoryServlet</servlet-name>
        <url-pattern>/customer/trip-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyTicketServlet</servlet-name>
        <url-pattern>/customer/buy-ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <url-pattern>/staff/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlyPassServlet</servlet-name>
        <url-pattern>/staff/monthly-pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveMonthlyPassServlet</servlet-name>
        <url-pattern>/staff/monthly-pass/approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectMonthlyPassServlet</servlet-name>
        <url-pattern>/staff/monthly-pass/reject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationManagementServlet</servlet-name>
        <url-pattern>/staff/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNotificationServlet</servlet-name>
        <url-pattern>/staff/notification/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNotificationServlet</servlet-name>
        <url-pattern>/staff/notification/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNotificationServlet</servlet-name>
        <url-pattern>/staff/notification/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TripManagementServlet</servlet-name>
        <url-pattern>/staff/trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTripServlet</servlet-name>
        <url-pattern>/staff/trip/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTripServlet</servlet-name>
        <url-pattern>/staff/trip/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTripServlet</servlet-name>
        <url-pattern>/staff/trip/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteManagementServlet</servlet-name>
        <url-pattern>/staff/route</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteViewServlet</servlet-name>
        <url-pattern>/staff/route/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRouteServlet</servlet-name>
        <url-pattern>/staff/route/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRouteServlet</servlet-name>
        <url-pattern>/staff/route/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRouteServlet</servlet-name>
        <url-pattern>/staff/route/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusManagementServlet</servlet-name>
        <url-pattern>/staff/bus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBusServlet</servlet-name>
        <url-pattern>/staff/bus/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBusServlet</servlet-name>
        <url-pattern>/staff/bus/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBusServlet</servlet-name>
        <url-pattern>/staff/bus/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopManagementServlet</servlet-name>
        <url-pattern>/staff/stop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStopServlet</servlet-name>
        <url-pattern>/staff/stop/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStopServlet</servlet-name>
        <url-pattern>/staff/stop/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStopServlet</servlet-name>
        <url-pattern>/staff/stop/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteStopManagementServlet</servlet-name>
        <url-pattern>/staff/route-stop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentQRJSP</servlet-name>
        <url-pattern>/customer/payment-qr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssistantDashboardServlet</servlet-name>
        <url-pattern>/assistant/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTripServlet</servlet-name>
        <url-pattern>/assistant/trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TripDetailServlet</servlet-name>
        <url-pattern>/assistant/trip/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerCheckServlet</servlet-name>
        <url-pattern>/assistant/passenger-check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssistantNotificationServlet</servlet-name>
        <url-pattern>/assistant/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssistantProfileServlet</servlet-name>
        <url-pattern>/assistant/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssistantChangePasswordServlet</servlet-name>
        <url-pattern>/assistant/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverDashboardServlet</servlet-name>
        <url-pattern>/driver/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverMyTripServlet</servlet-name>
        <url-pattern>/driver/trip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverTripDetailServlet</servlet-name>
        <url-pattern>/driver/trip/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverStartTripServlet</servlet-name>
        <url-pattern>/driver/trip/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverFinishTripServlet</servlet-name>
        <url-pattern>/driver/trip/finish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverNotificationServlet</servlet-name>
        <url-pattern>/driver/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverProfileServlet</servlet-name>
        <url-pattern>/driver/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverChangePasswordServlet</servlet-name>
        <url-pattern>/driver/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStopToRouteServlet</servlet-name>
        <url-pattern>/staff/route-stop/add</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.admin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagementServlet</servlet-name>
        <servlet-class>controller.admin.AccountManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.admin.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueReportServlet</servlet-name>
        <servlet-class>controller.admin.RevenueReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemReportServlet</servlet-name>
        <servlet-class>controller.admin.SystemReportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagementServlet</servlet-name>
        <url-pattern>/admin/accounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueReportServlet</servlet-name>
        <url-pattern>/admin/revenue-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemReportServlet</servlet-name>
        <url-pattern>/admin/system-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/admin/account/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/admin/account/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/admin/account/reset-password</url-pattern>
    </servlet-mapping>
</web-app>
